@model SeaBase.ViewModel.ApplicantVM

<div class="row">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#uniform"><span class="glyphicon glyphicon-chevron-down"></span> Government Info</a>
        </h4>
    </div>
    <div id="uniform" class="panel-collapse">
        <div class="panel-body">
            
        </div>
    </div>
</div>

