<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">
            Document Library
        </h3>

    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <table id="data-table-document-library" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Document</th>
                    <th>Description</th>
                    <th>Remarks</th>
                    <th>File</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <!-- ./box-body -->
</div>

<script type="text/javascript">

    $().ready(function() {
        
    });

</script>
@Scripts.Render("~/AdminLTE/plugins/datepicker/script")
@Scripts.Render("~/AdminLTE/plugins/datatables/script")
