
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">
            Docs and Certificates
        </h3>

    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class="form-inline">
            @*<div class="form-group">
                    <label for="SalaryScaleName">Salary Scale:</label>
                    <input type="text" class="form-control" id="SalaryScaleName">
                </div>*@
            <div class="form-group">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#AddOrEdit">
                    Add New Salary
                </button>
            </div>
        </div>
        &nbsp;
        <table id="data-table-salary" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Rank/Position</th>
                    <th>Description</th>
                    <th>Monthly (USD)</th>
                    <th>Daily (USD)</th>
                    <th>Percentage</th>
                    <th>Days</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <!-- ./box-body -->
</div>
