@Styles.Render("~/AdminLTE/plugins/datatables/styles")

@{
    ViewBag.Title = "Disembarkations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="overlay"></div>
<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#tab_1-1" data-toggle="tab">@ViewBag.Title</a></li>
                @*<li><a href="#tab_2-2" data-toggle="tab">Individual Payor</a></li>*@
            </ul>
            <div class="tab-content">
                <table id="data-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Principal</th>
                            <th>Vessel</th>
                            <th>Arrival Date</th>
                            <th>Arrival Airport</th>
                            <th>Disembarkation Port</th>
                            <th>Disembarkation Date</th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <!-- /.box-body -->
</div>


@section Scripts {
    @RenderPage("~/Views/Disembarkations/ListScript.cshtml")
}



