
<div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Crew</h3>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            
            <table id="data-table-crew" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Crew Name</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- ./box-body -->
    </div>
